<div class="container mt-5 background-home">
    <div class="card-color">
        <img src="../../assets/img/ic_logo_quiz.png" class="rounded mx-auto w-50 mt-5 d-block">
        <h2 class="text-center text-light mb-0">Alocação de</h2>
        <h2 class="text-center text-light">Arquivos em disco</h2>

        <div class="mx-auto text-center mt-4">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-light w-50" (click)="iniciarQuiz()">Iniciar Quiz</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-light w-50" (click)="ranking()">Ranking</button>
                </div>
            </div>
        </div>
    </div>

</div>