<div class="container mt-3 background-home">
    <mat-card class="">
        <img src="../../assets/img/ic_logo_quiz.png" class="rounded mx-auto w-50 mt-5 d-block">
        <h5 class="text-center text-light">Alocação de</h5>
        <h5 class="text-center text-light">Arquivos em disco</h5>

        <div class="mx-auto text-center mt-5">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-light w-50" (click)="conteudo()">Visualizar Conteúdo</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-light w-50" (click)="iniciarQuiz()">Iniciar Quiz</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-light w-50" (click)="ranking()">Ranking</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>